Flask==2.2.5
flask-apispec==0.11.4
Flask-Caching==2.1.0
Flask-Cors==4.0.0
SQLAlchemy==2.0.27
alembic==1.13.1
Werkzeug==2.2.3
PyJWT==2.8.0
pyOpenSSL==23.3.0
passlib[bcrypt]==1.7.4
marshmallow==3.20.1
webargs==8.3.0
apispec==6.3.1
neomodel==5.2.1
neobolt==1.7.17
psycopg2-binary==2.9.9
PyMySQL==1.1.0
redis==5.0.2
pika==1.3.2
celery[redis]==5.3.6
flower==2.0.1
celery-redbeat==2.2.0
amqp==5.2.0
pyotp==2.9.0
segno==1.6.1
PyYAML==6.0.1
loguru==0.7.2
glom==23.5.0
requests==2.31.0
psutil==5.9.8
plumbum==1.8.2
html2text==2024.2.26
orjson==3.9.15
sentry-sdk[flask]==1.40.6
