Dear {{name}} {{surname}},<br />
<br />
this email is to inform you that
<b>your credentials have been temporarily blocked</b> due to the number of
failed login attempts.<br />
<br />
Please inspect the list below to detect any unwanted access attempts:<br />
<br />
<ol>
  {% for value in events -%}
  <li>
    {{value["date"].strftime('%d %b %Y, %H:%M:%S')}} UTC from {{value["IP"]}}
    ({{value["location"]}})
  </li>
  {% endfor -%}
</ol>
<br />
If you do not recognize these accesses please consider to change your password
to improve your account security.<br />
To prevent any further attempt,
<b
  >your account has been blocked and will be automatically unlocked in
  {{duration}}</b
>.<br />
If you recognize all the access attempts above, you can unlock your credentials
by <a href="{{url}}">clicking here</a>.

<br /><br />
This is an automated message, please do not reply to this email.
