Dear {{name}} {{surname}},<br />
<br />
this email is to inform you that your credentials have been temporarily blocked
due to the number of failed login attempts.<br />
<br />
Please inspect the list below to detect any unwanted access attempts:<br />
<br />
<ol>
  {% for value in events -%}
  <li>
    {{value["IP"]}} ({{value["location"]}}) {{value["date"].strftime('%d %b %Y,
    %H:%M:%S')}} UTC
  </li>
  {% endfor -%}
</ol>
<br />
If you do not recognize these accesses please consider to change your password
to further protect your account.<br />
To prevent any further attempt, your account has been blocked and will be
automatically unlocked in {{duration}}<br />

<br /><br />
This is an automated message, please do not reply to this email.
