<!doctype html>
<html lang="en">
  <head>
    <title>HTTP-API</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <style>
      .red {
        color: red;
      }
    </style>
  </head>
  <body>
    {% if is_error %}

    <main class="red">{{ body_content }}<br /></main>

    {% elif body_content is mapping %} {% for key, value in body_content.items()
    %}
    <strong>{{ key }}</strong>: {{ value }}<br />
    {% endfor %} {% else %}
    <main>{{ body_content }}</main>
    {% endif %}
  </body>
</html>
